body{
    background-image:url(https://images.unsplash.com/photo-1567688993206-43c34131b21f?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cmFpbnl8ZW58MHx8MHx8fDA%3D);
    font-family: 'Rubik',sans-serif;
    color: white;
    
  
    
}
.main{
    display:flex ;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
}
.card{
    width:28vw;
    height: 65vh;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 29px white;
    margin-top: 6%;
    color: white;


}
.card h1{
    text-align: center;
    
    color: white;
    font-family: 'Rubik',sans-serif;
}
.card h2{
    color: white;
}
.undermain{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
 
    margin-top: 6%;

}
#cityname{
    width:20vw;
    height: 6vh;
    border: 2px solid rgb(248, 252, 247);
    border-radius: 13px;
    box-shadow: 1px 1px 12px rgb(255, 255, 255);
    font-size: 23px;
    font-family: 'Rubik',sans-serif;
}

.search button{
    width:9vw;
    height: 7vh;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white ;
    font-family: 'Rubik',sans-serif;
}
.search{
    display: flex;
    gap:15px;

}
.search  button:hover{
    width:9vw;
    height: 7vh;
    border-radius: 10px;
    background-color: white;
    color: rgb(8, 6, 6);
    border: 1px solid white ;
    font-family: 'Rubik',sans-serif;
    cursor: pointer;
}
.mspan{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
    

}
.element{
    display: flex;

}
#city_name{
    font-size: 130px;

}
i{
    padding-top: 30px;
    padding-left: 150px;
    font-size: 400%;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
   padding: 10px 10px;
   margin-top: 30px;
    gap: 20px;
  
}
.box1{
    box-sizing: border-box;
    border: none;
    background-color: rgba(158, 157, 157, 0.575);
    width: 150px;
    height: 110px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
  
    align-items: center;
}
.box2{
    box-sizing: border-box;
    border: none;
    background-color: rgba(158, 157, 157, 0.541);
    width: 150px;
    height: 110px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
  
    align-items: center;
}
.box3{
    box-sizing: border-box;
    border: none;
    background-color: rgba(158, 157, 157, 0.541);
    width: 150px;
    height: 110px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
  
    align-items: center;
}
.box4{
    box-sizing: border-box;
    border: none;
    background-color: rgba(158, 157, 157, 0.678);
    width: 150px;
    height: 110px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
  
    align-items: center;
}
#temp{
    font-size: 70px;
}
.left{
    display: flex;
    flex-direction: column;
    gap:5px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    
   
}
.right{
    margin-left: 80px;
}